
.todo-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    border-bottom: 1px solid #ddd;
    list-style: none; 
    padding: 5px 0;

}

.todo-content {
    display: flex;
    align-items: center;
    gap: 10px;
}

.done {
    text-decoration: line-through;
    color: grey;
}

.remove-image {
    cursor: pointer;
}