@import url('https://fonts.googleapis.com/css2?family=Fontdiner+Swanky&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');


.landingPage-container {
    width: 390px;
    height: 844px;
    margin: 0 auto;
    background: linear-gradient(#3F6BC0, #3FB1C0);
    position: relative;
}

.logo-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo-title {
    font-family: "Fontdiner Swanky", serif;
    color: white;
    font-size: 76px;
}

.logo-subtitle {
    font-family: 'FIRA SANS';
    color: white;
    font-size: 24px;
    text-align: center;
}

.image-container {
    position: absolute;
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%);
}