@import url('https://fonts.googleapis.com/css2?family=Fontdiner+Swanky&display=swap');


.todosPage-container {
    width: 390px;
    height: 844px;
    margin: 0 auto;
    position: relative;
    background-color: #f0eeee;
}

.todos-header {
    height: 64px;
    width: 100%;
    background-color: #3F82C0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-title {
    color: white;
    font-family: "Fontdiner Swanky", serif;
}

main {
    padding: 10px;
}

.todosPage__footer {
    width: 390px;
    position: absolute;
    bottom: 0;
}